@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
     font-family: "Inter", sans-serif;
    
}


/* navbar section */

.navbar-heading{
   width: 1200px;
   height: 92px;
    display: flex;
    /* margin: 0 auto; */
    justify-content: space-between;
    /* padding: 20px 200px; */
    padding: 16px 200px;
    /* border: 2px solid red; */
    background-color: #1A0B2E;
    align-items: center;
    padding: 30px 100px;
}


.menu{
    display: flex;
  gap: 20px;
  color: #FFFFFF;
}

.heading-style{
    color: #FFFFFF;
}


.rgb-light{
     background: linear-gradient(#F7E93F, #F9797A, #FB09B4, #9100F8);
      color: transparent;
      background-clip: text;
}


.btn{
    width: 135px;
    height: 44px;
    padding: 12px 16px;
    border-radius: 1000px;
     background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
     color: #FFFFFF;
     font-size: 16px;
     font-weight: 600;
     display: flex;
     align-items: center;
}


.hamburger-icon {
    display: none;
    color: #FFFFFF;
    font-size: 1.5rem;
}



/* banner section */
.banner-section{
    position: relative;
   width: 1200px;
    height: 760px;
    overflow: hidden;
}

.bg{
    position: absolute;
    width: 100%;
    height: 760px;
    z-index: 3;
}

.bg-1{
    top: 0;
    left: 0;
    
}


.bg-2{
 
    bottom: 43%;
    right: 39%;
    width: 280px;
    height: 300px;
   
}

.mic{
    position: absolute;
    z-index: 5;
    width: 120px;
    left: 45%;
    top: 25%;

}

.nw{
    position: absolute;
    z-index: 5;
    left: 56%;
    top: 20%;
    width: 75px;
    height: 38px;
    border-radius: 1000px;
    columns: rgba(26, 11, 46, 1);
    font-size: 18px;
    font-weight: 600;
    background-color: rgba(0, 255, 136, 1);
}


.content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.content p {
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.buttons button {
    padding: 12px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
.content{
   position: absolute;
   z-index: 5;
   top: 63%;
   left: 27%;
   text-align: center;
   
}

.content h1{
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
}


.content p{
    color: #FFFFFF;
    font-size: 16px;
}

.btn-1{
    color: #FFFFFF;
     background: linear-gradient(#F7E93F, #FB09B4, #9100F8);
     padding: 12px 20px;
     border-radius: 10000px;
     font-size: 16px;
     font-weight: 600;
    
}


.btn-2{
     padding: 12px 20px;
     border-radius: 1000px;
     color: #00FF88;
     border: 1px solid #00FF88;
     background: none;
      font-size: 16px;
     font-weight: 600;
   
}


/* podcast section */

.podcast-section{
     width: 1200px;
    height: 647px;
    /* border: 2px solid red; */
    padding: 50px 200px 160px 200px;
    text-align: center;
    background-color: #1A0B2E;
}

.podcast-info>h2{
    font-size: 48px;
    font-weight: bold;
}

.podcast-info>p{
    font-size: 14px;
    line-height: 20px;
   color: #FFFFFF;
    letter-spacing: 2px;
    opacity: 0.5;
}

.box-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px;
     /* border: 2px solid red; */
    margin-top: 160px;
    margin-bottom: 120px;
    align-items: center;
}

.box-container>p{
    font-size: 16px;
    font-weight: 400;
   
}


.ph{
    font-size: 15px;
}




/* card section */

.card-container{
  width: 1200px;
  height: 1150px;
  background-color: rgba(35, 14, 61, 1);
}

.all-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    /* border: 2px solid red; */
   margin: 0 auto;
    width: 800px;
height: 783px;
gap: 30px;
border-radius: 40px;
}

.box-1{
    grid-column: span 1;
    grid-row: span 2;
    /* width: 380px;
height: 480px; */
padding: 107px 40px;
}

 h2{
  color: #FFFFFF;
  font-size: 24px;
  font-weight: bold;
}

 p{
  color: rgba(255, 255, 255, 1);
 opacity: 0.5;
}


.box-2{
    grid-column: span 2;
    grid-row: span 1;
    /* width: 790px;
height: 225px; */
padding: 40px;
}


.box-3{
    grid-column: span 2;
    grid-row: span 1;
    /* width: 790px;
height: 225px; */
padding: 40px;
}

.box-4{
      grid-column: span 2;
    grid-row: span 1;
    /* width: 790px;
    height: 273px; */
    padding: 40px;
}

.box-5{
    grid-column: span 1;
    grid-column: span 1;
    /* width: 380px;
height: 273px; */
padding: 40px;
}

.box-1,.box-2, .box-3, .box-4, .box-5{
    /* border: 2px solid blue; */
    border-radius: 40px;
    display: grid;
    gap: 20px;
   background-color: #351165;
  
}


/* episode section */
.episode{
   width: 1200px;
   height: 1200px;
   /* border: 3px solid red; */
   background-color: #1A0B2E;
  
}


.episode-section{
  width: 1000px;
  height: 800px;
  /* border: 2px solid blue; */
  margin: 50px auto 200px ;
}




.feature-episode{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(200px,1fr);
  justify-content: space-between;
  gap: 30px;
 
  
}

.card-content{
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.card-content>h3{
 color: #FFFFFF;
}

.card-content>h4{
 color: #00FF88;
 display: flex;
 gap: 5px;
 justify-content: flex-start;
 align-items: start;
 flex-direction: row;
}

.card-content>p{
  color: var(--#FFFFFF, rgba(255, 255, 255, 1));
  opacity: 0.4;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

}

.Box-1, .Box-2, .Box-3{
  width: 100%;
  height: 100%;
/* border: 2px solid red; */
  grid-column: span 1;
  grid-row: span 1;
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

iframe{
  width: 100%;
  /* height: 100%; */
  border-radius: 20px 20px 0 0;
    
}

.host-meet{
  width: 1000px;
  height: 378px;
  /* border: 2px solid red; */
  margin-top: 100px;
 
}


.alex{
  width: 1000px;
  /* border: 2px solid red; */
  height: 280px;
  margin-top: 45px;
  background-color: rgba(53, 17, 101, 0.4);
  display: flex;
  gap: 24px;
  align-items: center;
  border-radius: 40px;

}

 .alex-picture{
  width: 500px;
  height: 200px;
  padding-left: 30px;
}
.apps-icon{
  display: flex;
  flex-direction: row;
  gap: 8px;
 
}

.apps-icon>img{
  box-sizing: border-box;
border: 1px solid rgba(83, 60, 114, 1);
padding: 10px;
border-radius: 50%;

}

.host-conversation>h1{
  color: #FFFFFF;
}

.host-conversation>p{
  font-size: 16px;
  line-height: 24px;
  opacity: 0.4;
}

.host-conversation{
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.clock{
  padding-top: 25px;
}


/* footer section */

.footer{
  width: 1200px;
  height: 500px;
 
  background-image: url(assets/footer-bg.png);
 
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-align: center;
}


.heading-style{
    color: #FFFFFF;
}


.rgb-light{
     background: linear-gradient(#F7E93F, #F9797A, #FB09B4, #9100F8);
      color: transparent;
      background-clip: text;
}

.footer-item{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 40px;
}

.footer-item>h5{
  color: #FFFFFF;
}

h5{
  display: flex;
  gap: 8px;
  align-items: center;
}
@media screen and (max-width: 576px) {
/* navbar section */
  .navbar-heading {
    width: 100%;
    padding: 16px 20px;
  }

  .menu {
    display: none;
  }

  .btn {
    display: none;
  }

  .hamburger-icon {
    display: block;
    width: 28px;
  }

 /* banner section */
  .banner-section {
    width: 100%;
    height: 600px;
  }

  .bg {
    width: 100%;
    height: 600px;
    /* object-fit: cover; */
    background-position: cover;
  }

  .bg-2 {
    width: 180px;
    height: 180px;
    /* right: 30%;
    bottom: 45%; */
    right: 30%;
    bottom: 45%;
  }

 /* microphone section */
  .mic {
    width: 80px;
    left: 52%;
    top: 29%;
    transform: translateX(-50%);
  }

  .nw {
    width: 60px;
    height: 30px;
    font-size: 14px;
    left: 58%;
    top: 25%;
  }

  /* content section */
  .content {
    width: 100%;
    left: 50%;
    top: 65%;
    transform: translateX(-50%);
    padding: 0 20px;
    text-align: center;
  }

  .content h1 {
    font-size: 36px;
  }

  .content p {
    font-size: 14px;
    margin-top: 10px;
  }

 /* button section */
  .button {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 20px;
    align-items: center;
  }

  .btn-1,
  .btn-2 {
    width: 100%;
    max-width: 260px;
    font-size: 14px;
  }

  /* podcast section */
    
  .podcast-section{
     width: 100%;
     padding: 20px;
  }
 

   
    
  

  .box-container{
     display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    margin-top: 80px;
  }

  /* card-section */

.card-container{
    width: 100%;
   padding: 20px;
  height: auto;
}

.all-box{
  width: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 20px;
  height: auto;
}

.box-1,.box-2, .box-3, .box-4, .box-5{
 grid-column: span 1;
 grid-row: span 1;
  padding: 24px;
    
}


/* featured episodes */

.episode{
  width: 100%;
  height: 100%;
}

.episode-section{
  width: 100%;
  height: 100%;
}

.feature-episode{
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(1,1fr);
  padding: 20px;
}
.host-meet{
  width: 100%;
  height: 100%;
}

.alex{
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 20px;
}

.alex-picture{
   width: 100%;
   height: 100%;
}

.footer{
  width: 100%;
  height: 100%;
padding: 30px;
}

.host-conversation{
  width: 100%;
  
}

.footer-item{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}

}